*{
    padding: 0;
    margin: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

p{
    font-size: 1.3rem;
}

#container{
    width: 100vw;
    height: 100vh;
    background-image: url("./image1.svg");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.5;
    font-family: 'Roboto', sans-serif;
}

#main{
    width: 80rem;
    height: 50rem;
    border: 0.1rem solid gray;
    margin: 2rem;
    border-radius: 1rem;
}

#upper{
    height: 15rem;
    background-color: #FF33AE;
    border-radius: 1rem 1rem 0 0;
}

#lower{
    height: 34.8rem;
    background-color: white;
    flex-flow: column;
    border-radius: 0 0 1rem 1rem;
}

#add-list{
    width: 35rem;
    border-radius: 0.5rem;
    border: 0.1rem solid gray;
    padding: 1rem;
    position: relative;
    top: -7rem;
    background-color: white;
    margin: 0 1rem;
}

#input-add{
    width: 27rem;
    margin: 1rem 1rem 0.5rem 0;
    padding: 0.5rem;
    border: 0.1rem solid gray;
    border-radius: 0.5rem;
}

#add-btn{
    padding: 0.7rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    background-color: #FF33AE;
    color: white;
    font-size: 1.2rem;
}

#add-btn:hover{
    opacity: 0.7;
}

#list{
    display: block;
    width: 35rem;
    border-radius: 0.5rem;
    height: 22rem;
    border: 0.1rem solid gray;
    position: relative;
    top: -2rem;
    overflow-y: scroll;
    margin: 0 1rem;
}

#wrapper{
    display: flex;
    height: 4.3rem;
    padding: 1rem;
    border: 0.1rem gray;
    font-size: 1.3rem;
    border-style: none none solid none;
}

#text{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 0.5rem;
    min-width: 25rem;
}

.edit{
    min-width: 2rem;
    padding: 0.5rem;
    color: #FF33AE;
    margin: 0 1rem;
    cursor: pointer;
    border-radius: 0.2rem;
}

.edit:hover{
    background-color: lightgray;
}

.delete{
    min-width: 2rem;
    padding: 0.5rem;
    color: #FF33AE;
    cursor: pointer;
    border-radius: 0.2rem;
}

.delete:hover{
    background-color: lightgray;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

#back-drop{
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    background-color: rgba(126, 126, 126, 0.6);
    justify-content: center;
    align-items: center;
    display: none;
}

#update-box{
    width: 35rem;
    height: 15rem;
    border-radius: 1rem;
    background-color: white;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

#update-list{
    width: 27rem;
    margin: 1rem;
    padding: 0.5rem;
    border: 0.1rem solid gray;
    border-radius: 0.5rem;
}

#update-btn{
    padding: 0.7rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    background-color: #FF33AE;
    color: white;
    font-size: 1.2rem;
}

#update-btn:hover{
    opacity: 0.7;
}

@media only screen and (max-width: 420px){
    #add-list{
        width: 25rem;
    }

    #input-add{
        width: 17rem;
    }

    #list{
        width: 25rem;
    }

    #text{
        min-width: 17rem;
    }

}
